html {
    font-family: sans-serif;
  }

  body {
    margin: 0;
  }

  header {
    background: rgb(52, 206, 142);
    height: 100px;
  }

  h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
  }

  article {
    padding: 10px;
    margin: 10px;
    background: rgba(16, 233, 215, 0.178);
  }


.article_1_3{
  display: flex;
  flex-direction: row;
}
.article_4_10{
  display: flex;
  flex-direction: row-reverse;

}
.article_4_6{
  display:  flex;
  flex-direction: column-reverse;

}
.article_7_10{
  display: flex;
  flex-direction:column;
}
.article_7_8{

  display: flex;
  flex-direction: row;
  height: 90%;
}

.article_9_10{
  height: 90%;
  display: flex;

}


