html {
    font-family: sans-serif;
  }

  body {
    margin: 0;
  }

  header {
    background: rgb(52, 206, 142);
    height: 100px;
  }

  h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
  }

  article {
    padding: 10px;
    margin: 10px;
    background: rgba(16, 233, 215, 0.178);
  }
.grid{
  display: grid;
  grid-template: repeat(4,1fr)/ repeat(4,1fr);
  grid-auto-rows: minmax(400px,auto);
}
.grid article:nth-child(1){
grid-area: 1/1/4/1;
}
.grid article:nth-child(4){
  grid-column-start: 2;
  grid-row-start: 2;
}
.grid article:nth-child(5){
  grid-column-start: 2;
  grid-row-start: 3;
}

.grid article:nth-child(3){
  grid-area: 1/3/span 2/5;
}
.grid article:nth-child(9){
  grid-area: 4/2/4/4;
}
